:root {
    --header-height: 46.5px;
    --header-action-padding-vertical: 24px;
    --header-dropdown-item-width: 160px;
    --header-dropdown-item-height: 38.5px;
    --header-dropdown-item-padding-vertical: 16px;
}