.description {
    margin-top: 15px;
    font-size: 1.5rem;
    text-align: justify;
}

.member-wrapper {
    margin-top: 15px;
    padding: 32px 0;
}

.name {
    padding-top: 15px;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.image {
    width: 60%;
    margin: 16px 0;
}