.wrapper {}

.inner {
    max-width: 800px;
    padding: 64px 16px;
    margin: 0 auto;
}

.light {
    background-color: #fff;
    .title {
        color: #000;
    }
}

.dark {
    background-color: #000;
    .title {
        color: #fff;
    }
}

.title {
    letter-spacing: 4px;
    font-size: 3rem;
    margin-top: 10px;
}

.sub-title {
    font-size: 1.5rem;
    font-style: italic;
    color: #8d8d8d;
    margin-top: 15px;
}